@font-face {
  font-family: 'Open Sans', sans-serif; 
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

/*variables de colores*/
:root {
  --color-primario: rgb(25,135,84);
  --color-secundario: rgb(20, 20, 133);
}

body{
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px;
  width: 100%;
  min-height: 100vh;
}

.container-fluid {
  font-size: 20px;
  color: white;
  background-color: var(--color-primario);
  padding:30px 150px;  
}

.logo {
  width: 60px; 
  height: auto;
  padding: 5px;
  margin-left: 5px; 
}

.costaazul{
  font-size: 45px;
  font-family: 'Bebas Neue', sans-serif; 
 }

.dropdown-item{
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif; 
}

.dropdown-item:hover{
  background-color: var(--color-secundario);
  border-radius: 3px;
  color: white;
}

.nav-item{
  font-size: 30px;
  margin-left: 30px;
  font-family: 'Bebas Neue', sans-serif; 
}

.nav-item:hover{
  background-color: var(--color-secundario);
  border-radius: 3px;
}

a{
  color: white;
  text-decoration: none;
} 

main{
  margin: 50px;
}

.imagen{
  width: 40%;
  display: block;
  margin: auto;
}

article{
  width: 50%;
  color: var(--color-secundario);
  margin: auto;
  padding: 40px;
  text-align: center; 
}

 footer{
  text-align: center;
  padding-bottom: 5px;
  color: var(--color-primario);   
 }
 
 h2{
  background-color: var(--color-primario);
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Bebas Neue', sans-serif; 
 }

 h3{
  color: var(--color-secundario);
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: underline;
  font-size: 35px;
 }
  
.redes{
  width: 40px;
  margin: 10px;
}

.twitter{
  width: 50px;
  margin: 10px;
}

.iconos{
  width: 60px;
  margin: auto;
}

h4 > a{
  color: var(--color-primario);
  text-decoration: underline;
}

/* grid cards actividades */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  margin-left: 70px;
  margin-right: 70px;
}

.card {
  border: 1px solid var(--color-secundario);
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(20, 20, 133, 0.4);
}

.card img {
  width:100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h3 {
  margin: 5px;
}

.card p {
  margin: 10px 20px;
}

.card p.full-width {
  width: 100%; 
  margin: 10px 0;
}

#inicios, #patin {
  grid-column: span 3; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
 }

#inicios h3, #inicios p, #patin h3, #patin p {
  grid-column: span 3; 
  margin: 0; 
}

/* Estilos para el formulario */
.contenedor {
  display: flex;
  justify-content: space-between;
}

.formulario {
  max-width: 650px;
  min-width: 450px;
  background-color: var(--color-primario);
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 40%;
  box-shadow: 0px 0px 8px rgb(25,135,84,0.6);
  margin-left: 5%;  
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid var(--color-secundario);
  border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
  background-color: rgba(8, 66, 39, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 50%;
  margin: auto;
}

input[type="submit"]:hover {
  background-color: var(--color-secundario);
}

/* Estilos para contacto */
.contactos {
  max-width: 650px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-right: 5%;
}
 
.contacto-item {
  display: flex;
  align-items: center;    
}

.iconos{
  width: 60px;
  margin: 50px 10px 50px 20px ;
}


table{
  border: 2px solid var(--color-primario);
  width: 40%;
  margin: 0;
 }
 th,td{
  border: 1px solid var(--color-primario);
  padding: 8px;
  text-align: center;
  margin: 0;
 }

/*adaptacion a vista mobile max 768px*/
 @media screen and (max-width: 768px) {
  .contenedor{
    display: block;
    width: 100%;
    margin: auto;
  }
  
  .contactos{
    margin: auto;
    margin-top: 20px;
  }
  .texto-logo{
    display: none;
  }
  .logo{
    margin: auto;
  }
  .formulario {
    width: 100%;        
    margin: auto;
    margin-left: 0;

  }
  
  .grid-container {
    grid-template-columns: 1fr; 
    margin-left: 0; 
    margin-right: 0; 
    gap: 15px; 
  }

  .card {
    width: 100%;   
  }

  .card img {
    max-height: 100%; 
  }

  #inicios, #patin {
    grid-column: unset; 
  }

  article{
    width: 100%;
  }

  main{
    margin: 10px;
  }

  }

    
 

