@font-face {
  font-family: 'Open Sans', sans-serif; 
  src: url(<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">);
}

body{
  font-family: 'Open Sans', sans-serif; 
  font-size: 20px;
  width: 100%;
  min-height: 100vh;
}

.container-fluid {
  font-size: 20px;
  color: white;
  background-color: rgb(25,135,84);
  padding:30px 150px;  
}

.logo {
  width: 60px; 
  height: auto;
  padding: 5px;
  margin-left: 100px; 
}

a{
  color: white;
  text-decoration: none;
} 

.imagen{
  width: 40%;
  display: block;
  margin: auto;
}

p{
  width: 40%;
  color: rgb(20, 20, 133);
  margin: auto;
  padding: 40px;
  text-align: center; 
}

 footer{
  text-align: center;
  padding-bottom: 5px;
  color: rgb(25,135,84);   
 }
 
 h2{
  background-color: rgb(25,135,84);
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Bebas Neue', sans-serif; 
 }

 h3{
  color: rgb(20, 20, 133);
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: underline;
  font-size: 35px;
 }
  
.redes{
  width: 40px;
  margin: 10px;
}

.twitter{
  width: 50px;
  margin: 10px;
}

.iconos{
  width: 60px;
  margin: 0px;
}

h4 > a{
  color: rgb(25, 135, 84)
}

/* grid cards actividades */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  margin-left: 70px;
  margin-right: 70px;
}

.card {
  border: 1px solid rgb(20, 20, 133);
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(20, 20, 133, 0.4);
}

.card img {
  width:100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h3 {
  margin: 5px;
}

.card p {
  margin: 10px 20px;
}

.card p.full-width {
  width: 100%; 
  margin: 10px 0;
}

#inicios {
  grid-column: span 3; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
 }

#inicios h3, #inicios p {
  grid-column: span 3; 
  margin: 0; 
}

#patin {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
#patin h3, #patin p {
  grid-column: span 3; 
  margin: 0; 
}

/* Estilos para el formulario */
.contenedor {
  display: flex;
  justify-content: space-between;
}

.formulario {
  max-width: 650px;
  background-color: rgb(25,135,84);
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 40%;
  box-shadow: 0px 0px 8px rgb(25,135,84,0.6);
  margin-left: 200px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid rgb(20, 20, 133);
  border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
  background-color: rgba(8, 66, 39, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 50%;
  margin: auto;
}

input[type="submit"]:hover {
  background-color: #080763;
}

/* Estilos para contacto */
.contactos {
  max-width: 650px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  margin-right: 200px;
}



table{
  border: 2px solid rgb(25,135,84);
  width: 40%;
  margin: 0;
 }
 th,td{
  border: 1px solid rgb(25,135,84);
  padding: 8px;
  text-align: center;
  margin: 0;
 }